
body {
  padding-top: 20%;

}

h1 {
  color: slategrey;
}
h4 {
  color: slategrey;
  text-align: center;
  text-transform: uppercase;

}

div {
  text-align: center;
}

.row {
  border: 2px solid lightgrey;
  margin-bottom: 0;
  margin-top: 2px;
  padding-top: 6px;
}
