
body {
  padding-top: 20%;
}

h1 {
  color: slategrey;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  color: slategrey;
}

div {
  text-align: center;
}

.row {
  border: 2px solid lightgrey;
  margin-bottom: 0;
  margin-top: 2px;
  padding-top: 6px;
}
